.gitignore,.iml,.xml
Python/Intermediate/Hopping Rocks/.idea/.gitignore
Python/Intermediate/Hopping Rocks/.idea/Hopping Rocks.iml
Python/Intermediate/Hopping Rocks/.idea/misc.xml
Python/Intermediate/Hopping Rocks/.idea/modules.xml
Python/Intermediate/Hopping Rocks/.idea/vcs.xml
Python/Intermediate/Hopping Rocks/.idea/inspectionProfiles/profiles_settings.xml
Python/Intermediate/Hopping Rocks/.idea/inspectionProfiles/Project_Default.xml
